<div id="wpe_rss-content" class="wpe_rss-content">
~~~BeginItemsRecord~~~  
  <div class="wpe_rss-item">
    <div class="wpe_rss-title">
      <h2><a href="~~~ItemLink~~~" target="_blank">~~~ItemTitle~~~</a></h2>
    </div>
    <div class="wpe_rss-metadata">
      <div class="wpe_rss-metadata-item"><span class="dashicons dashicons-admin-users"></span> <span>~~~ItemAuthor~~~</span></div>
      <div class="wpe_rss-metadata-item"><span class="dashicons dashicons-calendar"></span> <span>~~~ItemPubShortDate~~~ ~~~ItemPubShortTime~~~</span></div>
    </div>
    <div class="wpe_rss-description">
      ~~~ItemDescription~~~
      <br /> 
      <a href="~~~ItemSourceUrl~~~" class="wpe_rss-btn">Go to source</a>
    </div>
  </div>
~~~EndItemsRecord~~~
</div>